.centroid_closureWrapper{
    width: 100%;
    .centroid_closureContainer{
        table{
            width: 100%;
            border-collapse: collapse;
            th{
                border: 1px solid black;
                height: 30px;
            }
            td{
                border: 1px solid black;
                font-weight: 500;
                height: 30px;
            }
            .centroid_closureTable_header{
                width: 200px;
            }
        }
    }
}