.centroid_editUserWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
    .centroid_editUserContainer {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10px 0px 10px 0px;
        .centroid_editUser_name {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          justify-content: space-between;
          p{
            flex: 1;
            font-size: 18px;
          }      
        }
        .centroid_editUser_list {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          label {
            color: var(--kssiaParaBold);
            flex: 2;
            font-size: 18px;
          }
          select {
            flex: 1;
            height: 30px;
            font-size: 16px;
            cursor: pointer;
          }
          p{
            flex: 1;
            color: var(--centroidBlue);
            font-weight: 500;
          }
        }
      }
    }
  }
  