.centroid_DashboardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    .centroid_DashboardContainer{
        width: 95%;
        .centroid_DashboardContent{
            table{
                th{
                    font-size: 12px;
                    text-align: center;
                }
                td{
                    font-size: 12px;
                    text-align: center;
                }
            }
        }
    }
}