.centroid_DowntimeDashboardWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    .centroid_DowntimeDashboardContainer{
        width: 80%;
        .centroid_DowntimeDashboardContent{
            table{
                th{
                    font-size: 14px;
                    text-align: center;
                }
                td{
                    font-size: 14px;
                    text-align: center;
                }
            }
        }
    }
}