.centroid_CustomerRejectionWrapper{
    .centroid_CustomerRejection_back{
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 20px;
        position: sticky;
        top: 0px;
        z-index: 999;
        background-color: white;
    }
}