.centroid_invoiceMasterWrapper{
    display: flex;
    justify-content: center;
    .centroid_invoiceMasterContainer{
        width: 80%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .centroid_invoiceMasterAdd{
            display: flex;
            justify-content: center;
        }
        table{
            font-size: 14px;
            th{
                text-align: center;
            }
            td{
                text-align: center;
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                }
            }
        }
    }
}