.centroid_customerMasterWrapper{
    display: flex;
    justify-content: center;
    .centroid_customerMasterContainer{
        width: 60%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        .centroid_customerMasterAdd{
            display: flex;
            justify-content: center;
        }
        table{
            th{
                text-align: center;
            }
            td{
                text-align: center;
            }
        }
    }
}