.customerHomeWrapper {
  .customerHomeHeader {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    h1 {
      display: flex;
      justify-content: center;
    }
  }

  display: flex;
  flex-direction: column;
  gap: 50px;
  .customerHomeContent {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }
}
