.centroid_rejectionIssuesWrapper{
    display: flex;
    justify-content: center;
    h2{
        display: flex;
        justify-content: center;
    }
    .centroid_rejectionIssuesContainer{
        width: 80%;
        display: flex;
        gap: 10px;
        flex-direction: column;
        table{
            th{
                font-size: 12px;
                text-align: center;
            }
            td{
                font-size: 12px;
                text-align: center;
            }
        }
        .centroid_rejectionIssuesAdd{
            display: flex;
            justify-content: center;
            gap: 30px;
        }
    }
}