.centroid_addPreventiveActionPageWrapper{
    .centroid_addPreventiveActionPage_back{
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0px 0px 0px 20px;
        position: sticky;
        top: 0px;
    }
    h1{
        height: 40px;
        display: flex;
        justify-content: center;
    }
}