.centroid_reportHeaderWrapper{
   .centroid_reportHeaderContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .centroid_reportHeaderList{
        display: flex;
        justify-content: center;
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            width: 90%;
            min-height: 50px;
            flex-wrap: wrap;
            .centroid_reportHeaderSelectedTab{
                text-decoration: underline 3px;
                text-underline-offset: 6px;
                color: var(--centroidBlue)
            }
            li{
                font-weight: 500;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
    .centroid_reportHeaderDateFilter{
        display: flex;
        justify-content: center;
        gap: 50px;
        .centroid_reportHeaderDate{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    .centroid_reportHeaderContent{
        p{
            display: flex;
            justify-content: center;
            height: 100px;
            align-items: center;
            font-size: 18px;
        }
    }
   } 
}