.centroid_lossReasonWiseReportWrapper{
    display: flex;
    justify-content: center;
    .centroid_lossReasonWiseReportContainer{
        width: 70%;
        table{
            th{
                text-align: center;
            }
            td{
                text-align: center;
            }
        }
    }
}