.centroid_customerRejectionPageWrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .centroid_customerRejectionPageList {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      height: 50px;
      height: 200px;
      flex-direction: column;
      .centroid_customerRejectionPage_list_content {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        label {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          font-weight: 500;
        }
        .customerRejectionPage_select{
          flex: 1;
        }
      }
    }
    .centroid_customerRejectionPageLoading {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        font-size: 20px;
        font-weight: 500;
      }
    }
  }
  